@{
    ViewData["Title"] = "Contracted Pharmacies";
    int? id = (int?)ViewBag.id;

    var contractedPharmacies = (Dictionary<Inventory?, ContractedVM?>)ViewData["tableOfContracted"];

}
@if (id is null)
{
    <div class="container h-100 px-4 text-white">
        @if (contractedPharmacies.Any())
        {
            <h2 class="display-3 mb-3">Contracted pharmacies</h2>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="card-gray p-3">
                        <div class="col-12">
                            <form asp-action="Contracted">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-9">
                                        <input name="searchValue" class="form-control" placeholder="Pharmacy name" type="text">
                                    </div>
                                    <div class="col-3">
                                        <input type="submit" class="btn btn-outline-green w-100" value="Search">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-gray">
                        <table class="text-center w-100">
                            <thead>
                                <tr class="border-bottom">
                                    <th>
                                        <p class="mx-2 my-3">Pharmacy name</p>
                                    </th>
                                    <th>
                                        <p class="mx-2 my-3">Number of branches</p>
                                    </th>
                                    <th>
                                        <p class="mx-2 my-3">Total items stored</p>
                                    </th>
                                    <th>
                                        <p class="mx-2 my-3">Details</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var (key, value) in contractedPharmacies)
                                {
                                    <tr>
                                        <td><p class="mx-2 my-3">@key.Name</p></td>
                                        <td><p class="mx-2 my-3">@value.NumberOfBraches</p></td>
                                        <td><p class="mx-2 my-3">@value.TotalItemsStored</p></td>
                                        <td><a asp-controller="Pharmacy" asp-action="Inventory" asp-route-id="@key.Id" class="btn btn-outline-warning">Details</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h2 class="display-1">No Data Found</h2>
        }
    </div>
}
else
{
    <div class="row text-white">
        <h2 class="display-3">Pharmacy with id: @id</h2>
    </div>
}

