@model MedicineVM
@{
    var inventory = (Inventory) ViewData["inventory"];
    var locations = (List<Location>)ViewData["lcoations"];
    var locationsCopy = new List<Location>(locations);
    //var medicineList = (IEnumerable<Medicine>)ViewData["medicineInLocation"];


    // var medicineGroups = (Dictionary<Location,IEnumerable<MedicineLocations>>)ViewData["medicineInLocation"];

    var medicineGroups = (IEnumerable<IGrouping<int, MedicineLocations?>>)ViewData["medicineGroups"];

    // TempData["location"] = location;
    ViewData["Title"] = "Company";
}

@if (inventory?.Id is null)
{
    <div class="container h-100 px-4 d-flex flex-column justify-content-evenly text-light">
        <div class="container h-100 px-4 py-4 text-light">
            <div class="row search-box card-gray p-2 mb-4">
                <div class="col-12 mb-2"><h2>Search For Medicine</h2></div>
                <div class="col-12">
                    <form>
                        <div class="row mb-2">
                            <div class="col-6 mb-2">
                                <label for="name" class="mb-2">Medicine name</label>
                                <input type="text" name="name" id="" class="form-control" placeholder="Medicine name">
                            </div>
                            <div class="col-6 mb-2">
                                <label for="Production" class="mb-2">Production date</label>
                                <input type="date" name="Production" id="Production" class="form-control" placeholder="Production date">
                            </div>
                            <div class="col-6 mb-2">
                                <label for="Expiry" class="mb-2">Expiry date</label>
                                <input type="date" name="Expiry" id="Expiry" class="form-control" placeholder="Expiry date">
                            </div>
                            <div class="col-6 mb-2">
                                <label for="location" class="mb-2">Inventory location</label>
                                <input type="text" name="" id="location" class="form-control" placeholder="Inventory location">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex flex-row-reverse">
                                <input type="submit" value="Search" class="btn btn-outline-green w-100">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            @foreach (var group in medicineGroups)
            {
                <div class="row mb-2">
                    @{int index = 0;}
                    <table class="table-main w-100 card-main">
                        <thead class="w-100">
                            <tr class="border-bottom">
                                <th colspan="2">
                                    <h3 class="mx-2 my-3">Inventory Name: @locations[0].Inventory.Name</h3>
                                </th>
                                <th colspan="2">
                                    <h3 class="mx-2 my-3">Inventory Location: @locations[0].Address</h3>
                                </th>
                            </tr>
                            <tr class="border-bottom text-center">
                                <th>                            
                                </th>
                                <th>
                                    <p class="mx-2 my-3">Name</p>
                                </th>
                                <th>
                                    <p class="mx-2 my-3">Category</p>
                                </th>
                                <th>
                                    <p class="mx-2 my-3">Price</p>
                                </th>
                                <th>
                                    <p class="mx-2 my-3">Amount</p>
                                </th>
                                <th>
                                    <p class="mx-2 my-3">Details</p>
                                </th>
                                <th>
                                    <p class="mx-2 my-3">Update</p>
                                </th>
                            </tr>
                        </thead>

                        <tbody class="w-100 text-center">
                            @foreach (var item in group)
                            {
                                <tr>
                                    <td class="d-flex flex-shrink-0">
                                        <a asp-action="DeleteFromInventory" asp-route-rowId="@item.Id" class="btn table-btn-delete rounded-circle d-flex flex-row-reverse justify-content-center align-items-center p-3 mx-2 my-3 fa-rotate-180">
                                            <i class="fa-solid fa-delete-left fa-xl"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <p class="mx-2 my-3">@item.Medicine?.Name</p>
                                    </td>
                                    <td>
                                        <p class="mx-2 my-3">@item.Medicine.Category</p>
                                    </td>
                                    <td>
                                        <p class="mx-2 my-3">@Math.Truncate(item.Medicine.Price) EGP</p>
                                    </td>
                                    <td>
                                        <p class="mx-2 my-3">@item.Quantity</p>
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.MedicineId" class="btn btn-outline-warning mx-2 my-3">Details</a>
                                    </td>
                                    <td>
                                        <a asp-action="UpdateAmount" asp-route-medicineId="@item.MedicineId" asp-route-locationId="@item.LocationId"  class="btn btn-outline-green mx-2 my-3">Update Amount</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @{
                        locations.RemoveAt(0);
                    }
                        </div>
            }
            
        </div>
    </div>
}
else
{
    <div class="container h-100 px-4 d-flex flex-column justify-content-evenly text-light">
        <div class="container h-100 px-4 py-4 text-light">
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="card-gray me-1 p-2 row">
                        <div class="col-12 mb-2"><h2>Search For Medicine</h2></div>
                        <div class="col-12">
                            <form>
                                <div class="row mb-2">
                                    <div class="col-12 mb-2">
                                        <input type="text" name="" id="" class="form-control" placeholder="Medicine name">
                                    </div>
                                    <div class="col-12 mb-2">
                                        <input type="text" name="" id="" class="form-control" placeholder="Production date">
                                    </div>
                                    <div class="col-12 mb-2">
                                        <input type="text" name="" id="" class="form-control" placeholder="Expiry date">
                                    </div>
                                    <input type="hidden" name="" value="@inventory.Name" id="" class="form-control" placeholder="Expiry date">
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex flex-row-reverse">
                                        <input type="submit" value="Search" class="btn btn-outline-green">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-gray p-2 ms-1 row h-100">
                        <div class="col-12">
                            <div class="row align-items-center justify-content-between h-100">
                                <div class="col-8">
                                    <p class="display-6"><b>Name: </b>@inventory.Name</p>
                                </div>
                                <div class="col-4">
                                    <h2 class="display-1"><i class="fa-solid fa-warehouse"></i></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var group in medicineGroups)
            {
                <div class="row mb-2">
                    <table class="table-main w-100 card-main">
                    @{int index = 0;}
                    <thead class="w-100">
                        <tr class="border-bottom">
                            <th colspan="2">
                                <h3 class="mx-2 my-3">Inventory Location: @locations[index].Address</h3>
                            </th>
                        </tr>
                        <tr class="border-bottom text-center">
                            <th>
                                <p class="mx-2 my-3">Name</p>
                            </th>
                            <th>
                                <p class="mx-2 my-3">Price</p>
                            </th>
                            <th>
                                <p class="mx-2 my-3">Amount</p>
                            </th>
                            <th>
                                <p class="mx-2 my-3">Details</p>
                            </th>
                        </tr>
                    </thead>

                    <tbody class="w-100 text-center">
                        
                            @foreach(var item in group)
                            {
                            <tr>
                                <td>
                                    <p class="mx-2 my-3">@item.Medicine.Name</p>
                                </td>
                                <td>
                                        <p class="mx-2 my-3">@Math.Truncate(item.Medicine.Price) EGP</p>
                                </td>
                                <td>
                                    <p class="mx-2 my-3">@item.Quantity</p>
                                </td>
                                <td>
                                    <button class="btn btn-outline-warning mx-2 my-3">Details</button>
                                </td>
                            </tr>
                            }
                            
                    </tbody>
                </table>
                    @{
                        index++;
                    }
                </div>
            }
        </div>
    </div>
}

<!-- Your HTML code for the button and form -->
<div class="btn-collection">
    <div class="position-relative">
        <button class="btn-floating btn-add-medicine btn btn-green btn-lg" title="Add medicine">
            <i class="fa-solid fa-hand-holding-medical"></i>
        </button>
        <button class="btn-floating btn-add-inventory btn btn-green btn-lg" title="Add inventory">
            <i class="fa-solid fa-warehouse"></i>
        </button>
        <button class="btn-show btn btn-green btn-lg" title="Add item">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
</div>
<div class="layer row align-items-center justify-content-center scrollable" style="display: none;">
    <div class="col-4">
        <div class="card-gray p-4">
            <h2 class="text-main mb-4">Add Medicine</h2>
            <form action="Inventory" method="post" enctype="multipart/form-data">
                <div class="row mb-2">
                    <div class="col-12">
                        <input type="text" asp-for="@Model.Name" id="" class="form-control" placeholder="Medicine name">                            
                        <span asp-validation-for="@Model.Name" class="text-main small"></span>

                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <input type="text" asp-for="@Model.Category" id="" class="form-control" placeholder="Medicine category">
                        <span asp-validation-for="@Model.Category" class="text-main small"></span>

                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <input type="number" asp-for="@Model.Price" step=".10" min="1" id="" class="form-control"
                               placeholder="Price">
                        <span asp-validation-for="@Model.Price" class="text-main small"></span>

                    </div>
                    <div class="col-6">
                        <input type="number" name="" min="1" id="" class="form-control" placeholder="Quantity">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <input type="date" asp-for="@Model.ProductionDate" value="@DateTime.Now" id="" class="form-control" placeholder="Production Date">
                        <span asp-validation-for="@Model.ProductionDate" class="text-main small"></span>

                    </div>
                    <div class="col-6">
                        <input type="date" asp-for="@Model.ExpiryDate" asp-action="@Model.ExpiryDate" value="@DateTime.Now.AddMonths(3)" id="" class="form-control" placeholder="Expiry Date">
                        <span asp-validation-for="@Model.ExpiryDate" class="text-main small"></span>

                    </div>
                </div>
                
                
                <div class="row mb-2">
                    <div class="col-12">
                        <textarea class="form-control" asp-for="@Model.Indecations" placeholder="Indecations" id="" cols="30"
                                  rows="3"></textarea>
                        <span asp-validation-for="@Model.Indecations" class="text-main small"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <textarea class="form-control" asp-for="@Model.SideEffects" placeholder="Side effects" id="" cols="30"
                                  rows="3"></textarea>
                        <span asp-validation-for="@Model.SideEffects" class="text-main small"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label asp-for="@Model.Image" class="text-white mb-2">Medicine Image</label>
                        <input type="file" class="form-control" asp-for="@Model.Image" />
                        <input type="hidden" asp-for="@Model.ImageUrl"/>
                        <span asp-validation-for="@Model.ImageUrl" class="text-main small"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">

                        <style>
                            /* CSS code */
                            .form-check-input:checked {
                                /* Change background color */
                                background-color: #109A81;
                                box-shadow: 0 0 10px #109A81;
                                border-color: #109A81;
                                /* or Change border color */
                            }
                        </style>
                        <div class="d-flex align-items-center">
                            @foreach (var group in medicineGroups)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" asp-for="@Model.locationId" value="@locationsCopy[0].Id" checked>
                                    <label class="form-check-label text-white me-3" for="pharmacist">
                                        @locationsCopy[0].Address
                                    </label>
                                </div>
                                {
                                    locationsCopy.RemoveAt(0);
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 d-flex flex-row-reverse">
                        <input type="reset" value="CANCEL" id="" class="btn btn-outline-warning"
                               placeholder="Expiry date">
                        <input type="submit" value="ADD MEDICINE" id="" class="btn btn-outline-green me-2"
                               placeholder="Expiry date">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Rest of your HTML code -->
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your script -->
<script>
    $(document).ready(function () {

        $('.btn-show').on('click', () => {
            if ($('.btn-add-inventory').css('transform') == 'matrix(1, 0, 0, 1, 0, -60)') {
                $('.btn-add-inventory').css('transform', 'translateY(0)')
                $('.btn-add-inventory').css('z-index', 100)
                $('.btn-add-medicine').css('z-index', 100)
                $('.btn-add-medicine').css('transform', 'translateY(0)')
            }
            else {
                $('.btn-add-medicine').css('transform', 'translateY(-120px)')
                console.log($('.btn-add-medicine').css('transform'));
                $('.btn-add-inventory').css('transform', 'matrix(1, 0, 0, 1, 0, -60)')
                $('.btn-add-inventory').css('z-index', 101)
                $('.btn-add-medicine').css('z-index', 101)
            }
        })
        $('.btn-floating').on('click',()=>{
            $('.btn-add-inventory').css('transform', 'translateY(0)')
            $('.btn-add-inventory').css('z-index', 100)
            $('.btn-add-medicine').css('z-index', 100)
            $('.btn-add-medicine').css('transform', 'translateY(0)')
        })
        $(".btn-add-medicine").on('click', () => {
            $('.layer').fadeIn(100);
        });

        $("[type='reset']").on('click', () => {
            $('.layer').fadeOut(100);
        });
    });
</script>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}